{{#each this}}
<div class="countries_card">
    <h2 class="countries_name">{{name}}</h2>
<h3 class="countries_capital">Capital: {{capital}}</h3>
<h4 class="countries_population">Population: {{population}}</h4>
<ul class="countries-lang"><b>Languages:</b>
{{#each languages}}
<li class="countries-lang_item">{{this.name}} </li>
{{/each}}
<div>

</div>
<img src="{{flag}} " alt="Flag" width="320" height="auto">
</ul>
</div>
{{/each }}